/* 1000px以下のstyle */
@media(max-width:1000px) {
  header .header-box {
    width: 100%;
    margin: 100px auto 32px;
    height: 160px;
    /* outline: 2px solid skyblue; */
  }
  
}

/* 900px以下のstyle */
@media(max-width:900px) {
  main .main-box {
    width: 100%;
    margin: 72px auto 64px;
    /* outline: 2px solid red; */
  }


  main .main-pic img {
    /* outline: 2px solid skyblue; */
    margin: 0 0 24px;
    width: 100%;
    height: 100%;
  }

  main .main-contact img {
    border: 2px solid #aaa;
    width: 100%;
    transition: opacity .3s;
    margin-bottom: 80px;
  }
}

/* 760px以下のstyle */
@media(max-width:760px) {

  /* heder */
  header .header-flex img {
    display: none;
  }

  header .header-flex {
    /* outline:  2px solid skyblue; */
    justify-content: space-between;
  }

  header .header-flex img + img {
    display: block;
    padding-left: 8px;
  }

  header .header-flex .responsive {
    display: block;
    font-size: 32px;
    line-height: 2;
    margin-right: 8px;
    cursor: pointer;
  }

  header .header-flex .responsive li {
    list-style: none;
  }

  header .header-flex ul > li {
    display: none;
  }

  header .header-flex ul {
    padding: 0;
  }

  header .header-li {
    display: none;
  }

  header .header-box {
    margin-top: 8px;
    width: 100%;
    height: 64px;
  }

  /* main */
  main .main-box {
    outline:none;
    width: 100%;
    margin-top: 24px;
  }

  /* main-pic */
  main .main-pic img {
    display: none;
  }

  main .main-pic img + img {
    display: block;
    margin: 0;
  }


  main .main-pic-mask1 {
    background: #fff;
  }

  main .main-pic-mask2 {
    background: #fff;
  }

  /* main-service */
  main .main-title {
    text-align: center;
    margin: 0 0 40px;
  }

  main .main-service {
    /* outline: 2px solid skyblue; */
    display: block;
    text-align: center;
    padding: 0 24px;
    font-size: 16px;
  }

  main .main-service section + section{
    padding-left: 0;
  }
  
  
  main .main-service section h3{
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: normal;
  }

  main .main-service section i{
    font-size: 40px;
  }

  main .main-service section p{
    text-align: start;
    margin: 16px 0 40px;
    line-height: 32px;
  }

  /* main-skills */
  /* main .main-skills {
    /* outline: 2px solid skyblue; */
  /* } */ 

  main .main-skills ul {
    display: block;
    padding-bottom: 40px;
  }

  main .main-skills ul section {
    width: 150px;
    margin:16px auto;
    border: 2px solid black;
    padding: 40px 24px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2), 0 -4px 5px -2px #aeaeae inset;
  }

  main .main-skills ul section img {
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
  }


  /* main-works */
  main .main-works {
    /* outline: 2px solid skyblue; */
    padding-bottom: 40px;
  }

  main .main-works-content {
    display: block;
  }

  main .main-works-content section a{
    transition: opacity .3s;
  }
  main .main-works-content section a img{
    display: block;
    width: 280px;
    margin: 0 auto;
  }

  /* main-contact */
  main .main-contact {
    /* outline: 2px solid skyblue; */
    padding-bottom: 40px;
    text-align: center;
  }

  main .main-contact img {
    display: none;
  }
  
  main .main-contact img:hover {
    opacity: .5;
  }
  
  
  main .main-contact img +img {
    display: block;
    border: 2px solid #aaa;
    width: 390px;
    margin: 0 auto 40px;
  }


  /* footer */
  footer {
    /* outline: 2px solid skyblue; */
    width: 100%;
  }

  /* overlay */
  .responsive #open.hide {
    display: none;  /* 非表示にする */
  }

  .overlay {
    display: block;
  }

  .overlay {
    position: fixed;  /* 領域の設定 */
    top: 0;  /* 上いっぱい */
    bottom: 0;  /* 下いっぱい */
    left: 0;  /* 左いっぱい */
    right: 0;  /* 右いっぱい */
    background: rgba(255, 255, 255, 0.95);  /* 背景色は半透明の白 */
    text-align: center;  /* テキストを中央揃えに */
    padding: 64px;  /* 上下左右にパディングを設定 */
    opacity: 0;  /* 非表示にしておく */
    pointer-events: none;  /* pointer 系のイベントは無効化 */
    transition: opacity .6s;  /* opacityが徐々に変化するようにする */
  }

  .overlay li a {
    transition: .3s;
  }
  .overlay li a:hover{
    opacity: .5;
    text-decoration: underline;
  }

  .overlay.show {
    opacity: 1;  /* 透明を解除 */
    pointer-events: auto;  /* 元に戻す為、既定値のautoにする */
  }

  .overlay #close {
    position: absolute;  /* 絶対配置 */
    top: 16px;  /* 上から16pxに */
    right: 16px;  /* 右から16pxに */
    font-size: 32px;  /* 文字サイズの設定 */
    cursor: pointer;  /* カーソルを指の形に */
    transition: .3s;
  }

  .overlay #close:hover {
    opacity: .5;
  }

  .overlay nav {
    list-style-type: none;  /* 黒丸を消す */
    margin: 0;  /* マージンのリセット */
    padding: 0;  /* パディングのりセット */
  }

  .overlay li {
    margin-top: 36px;  /* 上に24pxのマージンを付ける */
    opacity: 0;  /* 最初は消しておく */
    transform: translateY(16px);  /* 16px下に配置する */
    transition: opacity .3s, transform 0.3s;
    /* opacityとtransformのアニメーションに0.3秒ずつかけてね */
  }

  .overlay.show li {
    opacity: 1;  /* 非表示を解除 */
    transform: none;  /* 元の位置に配置する */
  }


  /* ↓overlayにshowがついたとき、liの1,2,3番目に対して */
  .overlay.show li:nth-child(1) {
    transition-delay: .1s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(4) {
    transition-delay: .4s;  /* アニメーションの変化時間 */
  }



}