/* common */


/* 1000px以下のstyle */
@media(max-width:1000px) {
  header .header-box {
    width: 100%;
    margin: 100px auto 32px;
    height: 160px;
    /* outline: 2px solid skyblue; */
  }
  
}

/* 900px以下のstyle */
@media(max-width:900px) {
  main .main-box {
    width: 100%;
    margin: 72px auto 64px;
    /* outline: 2px solid red; */
  }


  main .main-pic img {
    /* outline: 2px solid skyblue; */
    margin: 0 0 24px;
    width: 100%;
    height: 100%;
  }

  main .main-contact img {
    border: 2px solid #aaa;
    width: 100%;
    transition: opacity .3s;
    margin-bottom: 80px;
  }
  
  
}

/* 760px以下のstyle */
@media(max-width:760px) {

  /* heder */
  header .header-flex img {
    display: none;
  }

  header .header-flex img + img {
    display: block;
    padding-left: 8px;
  }

  header .header-flex .responsive {
    display: block;
    font-size: 32px;
    line-height: 2;
    margin-right: 8px;
  }

  header .header-flex .responsive li {
    list-style: none;
  }

  header .header-flex ul > li{
    display: none;
  }

  header .header-flex ul {
    padding: 0;
  }

  header .header-li {
    display: none;
  }

  header .header-box {
    margin-top: 8px;
    width: 100%;
    height: 64px;
  }



  /* about */
  /* about-content */
  main .about-content {
    /* outline: 2px solid skyblue; */
    width: 90%;
  }

  main .about-content h1 {
    /* outline: 2px solid skyblue; */
    text-align: center;
    font-size: 40px;
  }

  main .about-content h1::after,
  main .about-content h1::before  {
  content: ' -';
}

  main .about-text p {
    /* outline: 2px solid skyblue; */
    line-height: 1.9;
    font-size: 16px;
  }


  main .about-flex {
    display: block;
    /* outline: 2px solid skyblue; */
    padding: 8px 0 40px;
  }

  main .about-flex img {
    display: block;
    width: 160px;
    height: 160px;
    padding: 0 0 32px;
    margin: 0 auto;
  }

  main .about-flex p {
    /* outline: 2px solid skyblue; */
    line-height: 1.9;
  }

  main .about-flex p span {
    color: black;
  }

  main .about-flex p.nema {
    /* outline: 2px solid skyblue; */
    width: 100%;
  }


  /* overlay */
  .responsive #open.hide {
    display: none;  /* 非表示にする */
  }

  .overlay {
    display: block;
  }

  .overlay {
    position: fixed;  /* 領域の設定 */
    top: 0;  /* 上いっぱい */
    bottom: 0;  /* 下いっぱい */
    left: 0;  /* 左いっぱい */
    right: 0;  /* 右いっぱい */
    background: rgba(255, 255, 255, 0.95);  /* 背景色は半透明の白 */
    text-align: center;  /* テキストを中央揃えに */
    padding: 64px;  /* 上下左右にパディングを設定 */
    opacity: 0;  /* 非表示にしておく */
    pointer-events: none;  /* pointer 系のイベントは無効化 */
    transition: opacity .6s;  /* opacityが徐々に変化するようにする */
  }

  .overlay li a {
    transition: .3s;
  }
  .overlay li a:hover{
    opacity: .5;
    text-decoration: underline;
  }

  .overlay.show {
    opacity: 1;  /* 透明を解除 */
    pointer-events: auto;  /* 元に戻す為、既定値のautoにする */
  }

  .overlay #close {
    position: absolute;  /* 絶対配置 */
    top: 16px;  /* 上から16pxに */
    right: 16px;  /* 右から16pxに */
    font-size: 32px;  /* 文字サイズの設定 */
    cursor: pointer;  /* カーソルを指の形に */
    transition: .3s;
  }

  .overlay #close:hover {
    opacity: .5;
  }

  .overlay nav {
    list-style-type: none;  /* 黒丸を消す */
    margin: 0;  /* マージンのリセット */
    padding: 0;  /* パディングのりセット */
  }

  .overlay li {
    margin-top: 36px;  /* 上に24pxのマージンを付ける */
    opacity: 0;  /* 最初は消しておく */
    transform: translateY(16px);  /* 16px下に配置する */
    transition: opacity .3s, transform 0.3s;
    /* opacityとtransformのアニメーションに0.3秒ずつかけてね */
  }

  .overlay.show li {
    opacity: 1;  /* 非表示を解除 */
    transform: none;  /* 元の位置に配置する */
  }


  /* ↓overlayにshowがついたとき、liの1,2,3番目に対して */
  .overlay.show li:nth-child(1) {
    transition-delay: .1s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(2) {
    transition-delay: .2s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(3) {
    transition-delay: .3s;  /* アニメーションの変化時間 */
  }

  .overlay.show li:nth-child(4) {
    transition-delay: .4s;  /* アニメーションの変化時間 */
  }

}
